{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Account {% endblock %}
{% block js %}
<!-- specific UI -->
<!-- <script src="{% static 'bank/js/account/interfaces/account.interfaces.activation.js' %}"></script> -->
<!-- <script src="{% static 'bank/js/account/interfaces/account.interfaces.login.js' %}"></script> -->
<!-- <script src="{% static 'bank/js/account/interfaces/account.interfaces.signup.js' %}"></script> -->
<script src="{% static 'bank/js/account/account.application.js' %}"></script>
<script src="{% static 'bank/js/account/account.js' %}"></script>
{% endblock %}
